<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan
		base-package="com.github.tobato.fastdfs.service,com.github.tobato.fastdfs.domain" />

	<bean id="trackerConnectionManager" class="com.github.tobato.fastdfs.conn.TrackerConnectionManager">
		<constructor-arg name="pool" ref="fdfsConnectionPool">
		</constructor-arg>
		<property name="trackerList">
			<list>
				<value>10.6.172.163:22122</value>
			</list>
		</property>
	</bean>

	<bean id="fdfsConnectionPool" class="com.github.tobato.fastdfs.conn.FdfsConnectionPool">
		<constructor-arg name="config">
			<bean class="com.github.tobato.fastdfs.conn.ConnectionPoolConfig" />
		</constructor-arg>
		<constructor-arg name="factory">
			<bean class="com.github.tobato.fastdfs.conn.PooledConnectionFactory" />
		</constructor-arg>
	</bean>

</beans>