<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
     http://www.springframework.org/schema/task
     http://www.springframework.org/schema/task/spring-task-4.0.xsd
     http://www.springframework.org/schema/mvc
     http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd">-->
    <!-- 引入属性配置文件 -->
    <bean name="propertys" class="com.rdc.kingsa.input.thirds.spring.config.PropertyConfigurer">
        <property name="locations">
            <list>
                <!-- 数据库配置 -->
                <value>classpath:config/jdbc.properties</value>
                <!-- 接口相关配置 -->
                <value>classpath:config/server/config.properties</value>
                <!-- 接口返回码描述文字 -->
                <value>classpath:config/server/message_zh.properties</value>
            </list>
        </property>
        <property name="fileEncoding">
            <value>GBK</value>
        </property>
    </bean>

    <!-- 引入SPRING配置文件 -->
    <import resource="spring/spring-*.xml"/>

    <!--<bean class="com.InitDataListener">-->
    <!--</bean>-->
    <!-- Enables swgger ui-->
    <!--<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>

    <bean class="com.rdc.kingsa.input.thirds.swagger.SwaggerConfig"/>
-->
</beans>